@media (max-width: 550px) {

    /* begin header */
    header {
        height: 125px;
    }

    header img {
        height: 90px;
    }

    .header-logo div {
        font-size: 250%;
        margin-top: -30px;
    }

    header nav {
        display: none;
    }

    *{
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
        box-sizing: border-box;
      }
      .float-right{
        float: right;
      }
      .fa{
        color: black;
        font-size: .8em;
        line-height: 22px !important;
      }
      dropdown{
        display: inline-block;
        margin: 1px 0px; 
      }
      dropdown label, dropdown ul li{
        display: block;
        width: 200px;
        background: #ECF0F1;
        padding: 15px 20px;
      }
      dropdown label:hover, dropdown ul li:hover{
        background: #1ABC9C;
        color: white;
        cursor: pointer;
      }
      dropdown label{
        color: #1ABC9C;
        border-left: 4px solid #1ABC9C;
        border-radius: 0 5px 0 0; 
        position: relative;
        z-index: 2;
      }
      dropdown input{
        display: none;
      }
      dropdown input ~ ul{
        position: relative;
        visibility: visible;
        opacity: 0;
        top: -20px;
        z-index: 1;
      }
      dropdown input:checked + label{
        background: #1ABC9C;
        color: white;
      }
      
      dropdown input:checked ~ ul{
        visibility: visible;
        opacity: .8;
        top: 0;
      }
      $colors: #E74C3C, #0072B5, #2C3E50;
      
      @for $i from 1 through length($colors) {
        dropdown ul li:nth-child(#{$i}) {
          border-left: 4px solid nth($colors, $i);
          .fa{
            color: nth($colors, $i);
          }
          &:hover {
              background: nth($colors, $i);
              color: white;
            .fa{
              color: white; 
            }
          }
        }
      }
      
      .animate{
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;  
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden; /* Chrome and Safari */
        -moz-backface-visibility:hidden; /* Firefox */
        -ms-backface-visibility:hidden; /* Internet Explorer */
      }

    #row1 {
          color: #252525;
    }

    #row2 {
        color: #252525;
    }
    #row3 {
        color: #252525;
    }
    #row4 {
        color: #252525;
    }
    #row5 {
        color: #252525;
    }

    /* end header */


    /* begin home page */
    .section1-home {
        height: 500px;
    }

    #beacon {
        font-size: 100%;
        margin-top: -450px;
    }

    #sub-text1, #sub-text2, #sub-text3 {
        font-size: 80%;
    }

    #read-more {
        padding: 10px 10px 10px 10px;
    }

    .section-about-me article h2 {
        margin-left: 20px;
        margin-right: 25px;
        font-size: 14px;
    }

    .section-about-me p {
        margin-left: 20px;
        margin-right: 25px;
        font-size: 10px;
    }
    /* end home page */


    /* begin about page */
    .about-page-main {
        display: flex;
    }

    .section-about-me h1 {
        font-size: 100%;
    }

    #about-image {
        max-width: 70%;
    }
    /* end about page */


    /* begin blog page */
    .blog-div1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 245px;
    }
    .blog-div2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 225px;
    }
    .blog-div3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 225px;
    }

    .blog-div1 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .blog-div2 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .blog-div3 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .main-blog section div img {
        width: 200px;
    }

    #blog {
        font-size: 100%;
    }
    /* end blog page */

    /* begin contact page */
    form h1 {
        font-size: 100%;
    }
    /* end contact page */


    /* begin gallery single */
    .section-gallery-single h1 {
        font-size: 100%;
        width: 30%;
    }
        
    .section-gallery-single h2 {
        font-size: 75%;
        width: 20%;
    }
        
    .section-gallery-single p {
        font-size: 15px;
    }
    /* end gallery single */


    /* begin blog single */
    #blog-single {
        font-size: 100%;
    }

    .blog-div1-single {
        height: 180px;
    }

    .main-blog-single section div img {
        height: 180px;
    }

    .main-blog-single article h2 {
        font-size: 100%;
    }

    .main-blog-single article p {
        font-size:15px;
    }
    /* end blog single */

    /* begin footer */
    footer div ul li {
        margin-top: 30px;
    }

    #twitter img, #facebook img, #googleplus img, #pinterest img {
        height: 25px;
        width: 25px;
    }
    /* end footer */

}

@media (max-width: 350px) {

    /* begin header */
    header {
        height: 80px;
    }

    header img {
        height: 60px;
    }
    /* end header */


    /* begin home page */
    .section1-home {
        height: 350px;
    }

    .header-logo div {
        font-size: 180%;
        margin-top: -10px;
    }
    #beacon {
        font-size: 80%;
        margin-top: -350px;
    }

    #sub-text1, #sub-text2, #sub-text3 {
        font-size: 60%;
    }

    #read-more {
        padding: 5px 5px 5px 5px;
    }
    /* end home page */

    /* begin contact page */
    form {
        max-width: 200px;
    }
    
    form h1 {
        font-size: 80%;
    }
    /* end contact page */


    /* begin gallery single */
    .section-gallery-single h1 {
        font-size: 75%;
        width: 30%;
    }
    
    .section-gallery-single h2 {
        font-size: 50%;
        width: 20%;
    }
    
    .section-gallery-single p {
        font-size: 10px;
    }
    /* end gallery single */

    /* begin blog single */
    .blog-div1-single {
        height: 130px;
    }

    .main-blog-single section div img {
        height: 130px;
    }
    /* end blog single */

    /* begin footer */
    footer div ul li {
        margin-top: 50px;
    }

    #twitter img, #facebook img, #googleplus img, #pinterest img {
        height: 12px;
        width: 12px;
    }
    /* end footer */
}