@media (max-width: 550px) {

    /* begin header */
    header {
        height: 125px;
    }

    header img {
        height: 90px;
    }

    .header-logo div {
        font-size: 250%;
        margin-top: -30px;
    }

    header nav {
        display: none;
    }

    #toggle {
        border-radius: 15%;
        background: url(images/square.png);
        background-size: cover;
        margin-left: 46%;
        height: 45px;
        width: 45px;
    }

    /* #content {
        display: grid !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "row1"
            "row2"
            "row3"
            "row4"
            "row5";
        height: 100px;
        position: relative;
        z-index: 1;
    } */

    /* #row1 {
        grid-area: row1;
        background-color: #0AA39C;
        width: 150px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
        color: black;
        border: 1px solid white;
    }

    #row2 {
        grid-area: row2;
        background-color: #0AA39C;
        width: 150px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        border: 1px solid white;
    }

    #row3 {
        grid-area: row3;
        background-color: #0AA39C;
        width: 150px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        border: 1px solid white;
    }

    #row4 {
        grid-area: row4;
        background-color: #0AA39C;
        width: 150px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        border: 1px solid white;
    } 

    #row5 {
        grid-area: row5;
        background-color: #0AA39C;
        width: 150px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        color: black;
        border: 1px solid white;
    } */

    /* end header */


    /* begin home page */
    .section1-home {
        height: 500px;
    }

    #beacon {
        font-size: 100%;
        margin-top: -450px;
    }

    #sub-text1, #sub-text2, #sub-text3 {
        font-size: 80%;
    }

    #read-more {
        padding: 10px 10px 10px 10px;
    }

    .section-about-me article h2 {
        margin-left: 20px;
        margin-right: 25px;
        font-size: 14px;
    }

    .section-about-me p {
        margin-left: 20px;
        margin-right: 25px;
        font-size: 10px;
    }
    /* end home page */


    /* begin about page */
    .about-page-main {
        display: flex;
    }

    .section-about-me h1 {
        font-size: 100%;
    }

    #about-image {
        max-width: 70%;
    }
    /* end about page */


    /* begin blog page */
    .blog-div1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 245px;
    }
    .blog-div2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 225px;
    }
    .blog-div3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin-bottom: 225px;
    }

    .blog-div1 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .blog-div2 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .blog-div3 div {
        margin-top: -2px;
        margin-left: -2px;
        border-bottom: 2px solid #252525;
        border-left: 2px solid #252525;
        border-right: 2px solid #252525;
    }

    .main-blog section div img {
        width: 200px;
    }

    #blog {
        font-size: 100%;
    }
    /* end blog page */

    /* begin contact page */
    form h1 {
        font-size: 100%;
    }
    /* end contact page */


    /* begin gallery single */
    .section-gallery-single h1 {
        font-size: 100%;
        width: 30%;
    }
        
    .section-gallery-single h2 {
        font-size: 75%;
        width: 20%;
    }
        
    .section-gallery-single p {
        font-size: 15px;
    }
    /* end gallery single */


    /* begin blog single */
    #blog-single {
        font-size: 100%;
    }

    .blog-div1-single {
        height: 180px;
    }

    .main-blog-single section div img {
        height: 180px;
    }

    .main-blog-single article h2 {
        font-size: 100%;
    }

    .main-blog-single article p {
        font-size:15px;
    }
    /* end blog single */

    /* begin footer */
    footer div ul li {
        margin-top: 30px;
    }

    #twitter img, #facebook img, #googleplus img, #pinterest img {
        height: 25px;
        width: 25px;
    }
    /* end footer */

}

@media (max-width: 350px) {

    /* begin header */
    header {
        height: 80px;
    }

    header img {
        height: 60px;
    }
    /* end header */


    /* begin home page */
    .section1-home {
        height: 350px;
    }

    .header-logo div {
        font-size: 180%;
        margin-top: -10px;
    }
    #beacon {
        font-size: 80%;
        margin-top: -350px;
    }

    #sub-text1, #sub-text2, #sub-text3 {
        font-size: 60%;
    }

    #read-more {
        padding: 5px 5px 5px 5px;
    }
    /* end home page */

    /* begin contact page */
    form {
        max-width: 200px;
    }
    
    form h1 {
        font-size: 80%;
    }
    /* end contact page */


    /* begin gallery single */
    .section-gallery-single h1 {
        font-size: 75%;
        width: 30%;
    }
    
    .section-gallery-single h2 {
        font-size: 50%;
        width: 20%;
    }
    
    .section-gallery-single p {
        font-size: 10px;
    }
    /* end gallery single */

    /* begin blog single */
    .blog-div1-single {
        height: 130px;
    }

    .main-blog-single section div img {
        height: 130px;
    }
    /* end blog single */

    /* begin footer */
    footer div ul li {
        margin-top: 50px;
    }

    #twitter img, #facebook img, #googleplus img, #pinterest img {
        height: 12px;
        width: 12px;
    }
    /* end footer */
}