/* remove auto margin from all pages*/
body {
    margin: 0px;
}



/* begin header */
header{
    height: 200px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 125px;
}

.header-logo div {
    margin-top: -60px;
    text-align: center;
    font-size: 400%;
    text-size-adjust: auto;
    color: black;
    font-family: 'Yellowtail', cursive;
    text-transform: uppercase;
}

header nav {
    text-align: center;
    font-size: 100%;
    word-spacing: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 2px;
    list-style-type: none;
}

header nav a {
    color: black;
}

header nav a:hover {
    color: #0AA39C;
}

.current-page {
    color:#0AA39C;
}
/* end header */


/* begin home page */
.section1-home {
    margin-top: 1%;
    height: 700px;
}

.background-image-home {
    background-image: url("images/background-imageHome.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 40px;
}

#beacon {
    color: black;
    text-align: center;
    background-color: white;
    border: solid 10px white;
    margin-top: -500px;
    margin-left: 50%;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    font-family: 'Abril Fatface';
    font-size: 180%;
    max-width: 27%;
}

#sub-text1, #sub-text2, #sub-text3 {
    text-align: center;
    color: white;
    background-color: #252525;
    border: solid 6px #252525;
    margin-left: 50%;
    margin-bottom: 5px;
    font-family: 'Abril Fatface';
}

#sub-text1 {
    width: 22%;
}
#sub-text2 {
    width: 19%;
}
#sub-text3 {
    width: 17%;
    margin-bottom: 25px;
}

#read-more {
    color: white;
    text-align: center;
    background-color: #0AA39C;
    margin-top: -35%;
    margin-left: 50%;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}

#read-more:hover {
    background-color: turquoise;
}

.father-actor-nerd {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: -40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.father-actor-nerd li {
    list-style-type: none;
}

.father-actor-nerd li a img {
    height: 250px;
    width: 275px;
    border: 2px solid #252525;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .8;
}

.father-actor-nerd li a:hover img {
    opacity: 1;
}

.father-actor-nerd li a span {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    color: black;
    font-weight: 900;
}
/* end home page */


/* begin about page */
.about-page-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "... section ...";
}
.section-about-me {
    grid-area: section;
    text-align: center;
    margin-bottom: 40px;
}

.section-about-me h1 {
    color: white;
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    font-size: 200%;
    max-width: 65%;
    margin: 40px auto 20px auto;
}

#about-image {
    width: auto;
    height: auto;
    border: 2px solid #252525;
}

.section-about-me article h2 {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: -10px;
}
/* end about page */


/* begin gallery page */

.main-gallery section {
    display: grid;
    grid-template-columns: .1fr 1.8fr .1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "... row1 ..."
        "... row2 ..."
        "... row3 ..."; 
    text-align: center;
    margin-bottom: 40px;
}

.gallery-row1 {
    grid-area: row1;
}
.gallery-row2 {
    grid-area: row2;
}
.gallery-row3 {
    grid-area: row3;
}

.main-gallery h1 {
    text-align: center;
    background-color: #252525;
    color: white;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    max-width: 200px;
    margin: 40px auto 10px auto;
    font-size: 200%;
}

.main-gallery section img {
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 2px solid #252525;
    opacity: .8;
}

.main-gallery section img:hover {
    opacity: 1;
}
/* end gallery page */


/* begin blog page */
.main-blog {
    text-align: center;
}

#blog {
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    max-width: 150px;
    margin: 40px auto 20px auto;
    font-size: 200%;
}

.main-blog section {
    margin-bottom: 40px;
}

.blog-div1 {
    grid-area: div1;
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    border: 2px solid #252525;
    height: 250px;
    margin: 0px auto 10px auto;
    width: 900px;
}

.blog-div2 {
    grid-area: div2;
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    border: 2px solid #252525;
    height: 250px;
    margin: 0px auto 10px auto;
    width: 900px;
}

.blog-div3 {
    grid-area: div3;
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    border: 2px solid #252525;
    height: 250px;
    margin: 0px auto 0px auto;
    width: 900px;
}

.blog-div1 div, .blog-div2 div, .blog-div3 div {
    padding: 20px 10px 20px 10px
}

.main-blog section div img {
    width: 400px;
    height: 250px;
    border-right: 2px solid #252525;
    opacity: .8;
}

.main-blog img:hover {
    opacity: 1;
}

.main-blog p {
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-blog h2 {
    text-transform: uppercase;
}

#read-this {
    background-color: #252525;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    font-weight: 900;
}

#read-this:hover {
    background-color: white;
    color: #252525;
    border: 2px solid #252525;
}
/* end blog page */


/* begin contact page */
.form {
    display: grid;
    grid-template-columns: .9fr 1.2fr .9fr;
    grid-template-areas: 
    "... form ...";
}

form {
    grid-area: form;
    text-align: center;
}

form h1 {
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    width: 80%;
    margin: 40px auto 35px auto;
    font-size: 200%;
}

#name, #address, #email, #phone-number{
    text-align: center;
    width: 100%;
    height: 55px;
    margin-bottom: 35px;
}

#message {
    text-align: center;
    width: 100%;
    height: 215px;
    margin-bottom: 35px;
}

#send-contact {
	background: #252525;
    color: white;
	font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 40px;
    height: 60px;
    width: 100px;
    font-family: 'Abril Fatface';
}

#send-contact:hover {
    background-color: white;
    color: #252525;
    border: 2px solid #252525;
    cursor: pointer;
}
/* end contact page */


/* begin gallery single */
.gallery-single-main {
    display: grid;
    grid-template-columns: .8fr 1.4fr .8fr;
    grid-template-areas: 
    "... center ...";
}

.section-gallery-single {
    grid-area: center;
    text-align: center;
}

#gallery-single {
    width: 100%;
    height: 50%;
    border: 2px solid #252525;
}

.section-gallery-single h1 {
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    width: 70%;
    margin: 40px auto 35px auto;
    font-size: 200%;
    font-weight: 900;
}

.section-gallery-single h2 {
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    width: 40%;
    margin: 35px auto 35px auto;
    font-size: 175%;
}

.section-gallery-single p {
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
/* end gallery single */


/* begin blog single */
.main-blog-single {
    text-align: center;
}

#blog-single {
    background-color: #252525;
    color: white;
    border: 10px solid #252525;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
    width: 32%;
    margin: 40px auto 20px auto;
    font-size: 200%;
}

.main-blog-single section {
    display: grid;
    grid-template-columns: .3fr 1.4fr .3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "... div ..."
        "... article ...";
    margin-bottom: 40px;
}

.blog-div1-single {
    grid-area: div;
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    border: 2px solid #252525;
    height: 250px;
    margin-bottom: 10px;
}

.main-blog-single section div img {
    width: 100%;
    height: 250px;
    border-right: 2px solid #252525;
}
.main-blog-single article h2 {
    text-transform: uppercase;
}

.blog-single-article {
    grid-area: article;
    margin-top: -50px;
}

.blog-single-article h2 {
    max-width: 50%;
    margin: 20px auto 20px auto;
    font-weight: 900;
}

.blog-single-article p {
    max-width: 60%;
    margin: 20px auto 20px auto;
}
/* end blog single */


/* begin footer */
footer div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 100%;
    grid-template-areas: 
        "copyright social-media";
    background-color: #252525;
    height: 125px;
    text-align: center;
}

footer div p {
    grid-area: copyright;
    color: white;
    margin-top: 50px;

}

footer div ul li {
    grid-area: social-media;
    display: inline-flex;
    list-style-type: none;
    margin-top: 15px;
}

#twitter img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: white;
}

#facebook img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: white;
}

#googleplus img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px white;
    background-color: white;
}

#pinterest img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: white;
}
/* end footer */