@media (max-width: 900px) {

    /* begin home page */
    #beacon {
        margin: -600px auto 25px auto;
        opacity: .8;
    }
    
    #sub-text1, #sub-text2, #sub-text3 {
        margin: auto auto 5px auto;
        opacity: .8;

    }
    
    #sub-text1 {
        width: 40%;
    }
    #sub-text2 {
        width: 35%;
    }
    #sub-text3 {
        width: 30%;
        margin-bottom: 25px;
    }
    
    #read-more {
        display: block;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
    }

    .father-actor-nerd {
        display: flex;
        flex-wrap: wrap;
    }
    
    .father-actor-nerd li a img {
        border: 2px solid #252525;
        margin-left: 10px;
        margin-right: 10px;
        opacity: .8;
    }

    .father-actor-nerd li {
        margin-bottom: 20px;
    }
    /* end home page */

    /* begin gallery page */
    .main-gallery h1 {
        font-size: 125%;
    }
    /* end gallery page */


    /* begin blog page */
    .blog-div1, .blog-div2, .blog-div3 {
        max-width: 550px;
        height: 150px;
    }

    .main-blog section div img {
        width: 200px;
        height: 150px;
    }

    .main-blog h2 {
        font-size: 15px;
    }

    .main-blog p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #read-this {
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
    /* end blog page */

}